{% extends 'tasks/base.html' %}

{% block title %}My Day{% endblock %}

{% block content %}
  {% if request.user.is_authenticated %}
    <ul class="menu">
      <li>
        <a href="{% url 'login:logout' %}">Logout</a>
      </li>
    </ul>
    <p>My Day</p>
    {% include 'tasks/add_task.html' %}
    {% include 'tasks/left_menu.html' %}
    <br>
    <form method="get" action="{% url 'home' %}">
    <input type="text" name="search" value="{{ search_query }}" placeholder="Search tasks">
    <button type="submit">Search</button>
</form>

{% if search_query %}
    <ul>
        <h2>search</h2>

        {% for task in user_tasks %}
            <li>
              {% if 'checked' in task.Status %}
              <input type="checkbox" checked="checked"> done
              {% else %}
              <input type="checkbox"> done
              {% endif %}
              <label>{{ task.TName }}</label>
              <br>
              <label>Due Date: {{ task.DueDate|date:"F j, Y" }}</label>
              <label>Repeat: {{ task.Repeat }}</label>
              {% if 'High' in task.Priority %}
                <input type="checkbox" checked="checked"> High Priority
              {% else %}
                <input type="checkbox"> High Priority
              {% endif %}
            </li>
        {% endfor %}
    </ul>

{% endif %}

<ul>
    {% for task in MyDay_tasks %}
    <li>
      {% if 'checked' in task.Status %}
      <input type="checkbox" checked="checked"> done
      {% else %}
      <input type="checkbox"> done
      {% endif %}
      <label>{{ task.TName }}</label>
      <br>
      <label>Due Date: {{ task.DueDate|date:"F j, Y" }}</label>
      <label>Repeat: {{ task.Repeat }}</label>
      {% if 'High' in task.Priority %}
        <input type="checkbox" checked="checked"> High Priority
      {% else %}
        <input type="checkbox"> High Priority
      {% endif %}
       <form method="post" action="{% url 'delete_task' task.TaskID %}">
        {% csrf_token %}
        <input type="submit" value="Delete">
      </form>

      <a href="{% url 'edit_task' task.TaskID %}">Edit</a>
    </li>
  {% endfor %}
</ul>
  {% else %}
    <p>You are not logged in.</p>
  {% endif %}
{% endblock %}

